* {
  box-sizing: border-box;
}

.success {
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid black;
  background-color: limegreen;
  padding: 1rem;
  width: 100%;
}

.error {
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid black;
  background-color: tomato;
  padding: 1rem;
  width: 100%;
}
